<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Gildard Mhn. It uses data from <a href="https://www.mapbox.com/">Mapbox.com</a> and <a href="https://darksky.net/forecast/6.3654,2.4183/ca12/en">Darksky.net</a>!</p>
        <img class="portrait" src="/img/me.png" alt="Robot">
    </div>

    {{>footer}}
</body>

</html>